<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/signup/signup.css">
<%- include('partials/head.ejs',{ pageName : "Twitter home" }) %>
    <%- include('./partials/nav.ejs', {page: 'nav' }) %>

        <body class="home-body">

            <div class="editProifle-body profile">
                <div>
                    <%- include('partials/sideNavBar.ejs')%>
                </div>
                <div class="profile-form">
                    <form action="/auth/<%= id %>?_method=PUT" method="POST">
                        <div id="profiletitle">
                            <h1>Edit Profile</h1>
                        </div>
                        <br>
                        <div id="profile-image-username">
                            <label for="content">
                                <img class="profile-image" src="<%= currentUser.profilePic %>"
                                    alt="Placeholder image" />
                            </label>
                            @<%= currentUser.username%>
                        </div>
                        <br>
                        <br>
                        <div class="float">
                            <label>Username:</label>
                            <input autocomplete="off" type="text" name="username" value="<%= currentUser.username%>" />
                        </div>

                        <br>
                        <div class="float">
                            <label>Profile picture:</label>
                            <input autocomplete="off" type="text" name="profilePic" value="<%= currentUser.profilePic%>" />
                        </div>

                        <br>
                        <div class="button-container">
                            <input class='buttonprofile' type="submit"
                                value="Edit Profile: <%= currentUser.username%>" />
                        </div>
                    </form>
                </div>
                <!-- <form action = "/auth/<%=id%>/deleteprofile?_method=PUT" method = "POST">
    <input type="submit" value="Delete profile picture"/>

</form> -->
            </div>
        </body>

</html>