<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: 'Tweet Page' }) %>
  <%- include('./partials/nav.ejs', {page: 'nav' }) %>

    <body class="show-page">
      <section class="show-content">
        <div>
          <%- include('partials/sideNavBar.ejs')%>
        </div>
        <!-- <h3>Tweet</h3>
                <%= /* user.avatar */%>
                    <p>
                        <%= /* user.name */%>
                    </p>
                    <p>
                        <%= /* user.username */%>
                    </p> -->
        <div class="tweet-container">
          <div class="">
            <p class="content">
              <%= oneTweet.content %>
            </p>
          </div>
          <div class="image-container">
            <img class="tweet-image" src="<%= oneTweet.image %>" alt="Image" />
          </div>
          <div class="like-retweet-buttons">
            <a class="comment-button" href=""><i class="fa-solid fa-comment"></i></a>
            <input class="like" type="button" value="♡" />
            <a class="retweet" href=""><i class="fa-solid fa-retweet"></i></a>
          </div>
          <div class="">
            <p>
              <%= oneTweet.likes %>
            </p>
            <p>
              <%= oneTweet.retweets %>
            </p>
          </div>
        </div>
      </section>
    </body>

</html>