<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/tweet/tweet.css">
<%- include('partials/head.ejs', { pageName: 'Tweet Page' }) %>

    <body class="show-page">
        <%- include('partials/sideNavBar.ejs')%>
            <section class="show-content">
                <!-- <h3>Tweet</h3>
                <%= /* user.avatar */%>
                    <p>
                        <%= /* user.name */%>
                    </p>
                    <p>
                        <%= /* user.username */%>
                    </p> -->
                <div class="tweet-container">
                    <div class="">
                        <p class="content">
                            <%= oneTweet.content %>
                        </p>
                    </div>
                    <div class="image-container">
                        <img class="tweet-image" src="<%= oneTweet.image %>" alt="Image">
                    </div>
                    <div class="like-retweet-buttons">
                        <input class="like" type="button" value="♡">
                        <img src="https://www.shareicon.net/data/2016/04/20/752568_arrows_512x512.png" alt="">
                    </div>
                    <div class="">
                        <p>
                            <%= oneTweet.likes %>
                        </p>
                        <p>
                            <%= oneTweet.retweets %>
                        </p>
                    </div>
                </div>
            </section>
    </body>

</html>